.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}


.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0);
}

.card.hovercard .cardheader {
    background-color: #d3d3d300;
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(231, 4, 4, 0.842);
}

.card.hovercard .info {
    padding: 45px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 19px;
    line-height: 20px;
    color: #050505;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

body {
    background: url('https://www.ordiges.com/info-ordiges/wp-content/uploads/2015/05/Fond-d%C3%A9cran-gris-Bars-Op%C3%A9ra-1440x2560.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

.placeLogo {
    padding-top: 3%;
    padding-left: 34%
}

.bg-light {
    padding: 1%;
}

.recherche {
    padding-left: 50%;
}

.bouttonNav {
    padding-left: 10%;
}

#effet {
	overflow: hidden;
	padding: 2px;
}
 
#effet {
	transition: all 2s;
}
 
#effet:hover {
  transform: scale(1.30);
}

.pseudo {
   font-weight: bolder; 
   color:white;
   margin-left: 6%;
}