body {
background-image: url('http://newblog.cewecolor.zooom.sk/wp-content/uploads/2015/08/rotebruecke.jpg');
background-size: cover;
background-repeat: no-repeat;
}

.impu {
    background: transparent;
    padding-top: 7%;

}

/* .imgAccueil {
    background-image: url("http://chezvalerie.c.h.pic.centerblog.net/0_11fc13_9702530c_L.png");
    background-repeat: no-repeat;
    padding: 30%;
} */

h1 {
    font-weight: bold;
    padding-top: 10%;
    font-family: "Sofia";
    font-size:400%;
    text-align: center;
}

.placeLogo {
    padding-top: 3%;
    padding-left: 5%;
}

.bg-light {
    padding: 1%;
}

.recherche {
    padding-left: 55%;
}

.bouttonNav {
    padding-left: 10%;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 150px;
}